body,.mui-content{
	background: #ffffff;
}
.news_details .mui-col-xs-12{
	padding: 6px;
}
.news_details .mui-col-xs-12 h4{
	font-size: 15px;
    text-align: justify;
    color: #464545;
    line-height: 22px;
    font-weight: normal;
}
.news_details .mui-col-xs-12 p:nth-of-type(1){
	margin-bottom: 2px;
	font-size: 13px;
	text-align: justify;
	color: #a1a1a2;
	text-indent: 0px;
}
.news_details .mui-col-xs-12 p:nth-of-type(1) span:nth-of-type(2){
	color: #3eb7fc;
}
.news_details .mui-col-xs-12 p{
	color: #7b7b7c;
	text-indent: 30px;
	margin-bottom: 6px;
}
.news_details .mui-col-xs-12 img{
	display: block;
	width: 100%;
	min-height: 150px;
	margin: 0 auto;
}
